{% extends 'base/base.html' %}

<title>{% block title %}Login | {% endblock %}</title>

{% block content %}

<div class="max-w-lg mx-auto flex flex-wrap py-6">
    <div class="w-full bg-gray-50 p-6 rounded-xl">
        <h1 class="mb-6 text-2xl">Login</h1>

        <form method="post" action="." class="space-y-3">

            {% csrf_token %}

            <div>
                <label for="email">Usuário</label>
                <input type="text" name="username" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            <div>
                <label for="password">Senha</label>
                <input type="password" name="password" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
            </div>

            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                <p>{{ error|escape }}</p>
            </div>
            {% endfor %}
            {% endfor %}

            {% for erros in form.non_field_errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                <p>Erro! tente novamente </p>
            </div>
            {% endfor %}
            {% endif %}

            <p>Não tem uma conta? <a href="/signup/" class="text-blue-700 hover:text-blue-500 mb-5">
                    Criar conta</a>
            </p>

            <a href="#" class="text-blue-800">Esqueceu a senha?</a>

            <div>
                <button class="py-4 px-6 rounded-xl text-white bg-yellow-600 hover:bg-yellow-500">Entrar</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}