{% extends 'base/base.html' %}

<title>{% block title %}Cadastro | {% endblock %}</title>

{% block content %}

<div class="max-w-lg mx-auto flex flex-wrap py-6">
    <div class="w-full bg-gray-50 p-6 rounded-xl">
        <h1 class="mb-6 text-xl">Cadastre-se</h1>

        <form method="post" action="." class="space-y-3">

            {% csrf_token %}

            <div>
                <label for="nome">Usuário</label>
                <input type="text" name="username" class="w-full mt-2 py-2 px-4 bg-white rounded-xl">
            </div>

            <div>
                <label for="nome">Nome</label>
                <input type="text" name="first_name" class="w-full mt-2 py-2 px-4 bg-white rounded-xl">
            </div>

            <div>
                <label for="sobrenome">Sobrenome</label>
                <input type="text" name="last_name" class="w-full mt-2 py-2 px-4 bg-white rounded-xl">
            </div>

            <div>
                <label for="email">E-mail</label>
                <input type="email" name="email" class="w-full mt-2 py-2 px-4 bg-white rounded-xl">
            </div>

            <div>
                <label for="password">Senha</label>
                <input type="password" name="password1" class="w-full mt-2 py-2 px-4 bg-white rounded-xl">
            </div>

            <div>
                <label for="password">Digite a senha novamente</label>
                <input type="password" name="password2" class="w-full mt-2 py-2 px-4 bg-white rounded-xl">
            </div>

            <p>Já tem uma conta? <a href="/login/" class="text-blue-700 hover:text-blue-500">
                    Fazer login</a>
            </p>

            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                <p>{{ error|escape }}</p>
            </div>
            {% endfor %}
            {% endfor %}

            {% for erros in form.non_field_errors %}
            <div class="p-6 bg-red-200 text-red-800 rounded-xl">
                <p>Erro! tente novamente</p>
            </div>
            {% endfor %}
            {% endif %}

            <div>
                <button class="py-4 px-6 rounded-xl text-white bg-yellow-600 hover:bg-yellow-500">Salvar</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}